/**This styling is the UI for all empty pages that has no data yet*******/




.display-container{
    background: #fff;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    margin-top:50px;
    margin: 0 auto;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.display-message{
    font-size: 20px;
    color:#333;
}