.course-description-container{
  background:#fff;
  padding: 20px 20px 20px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


.course-description-header{
  background-color: rgb(184, 23, 103);
  color:white;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  }



.course-description-profile-container{
    background:#fff;
    padding: 20px 20px 20px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}



.alert-message{
  background:#fff;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  margin: 0 auto;
  border:2px solid rgb(184, 23, 103);
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.access-link{
  color:rgb(184, 23, 103);
  margin-left: 10px;
  text-decoration: none;

}

.access-link:hover{
  text-decoration: none;
  color:rgb(184, 23, 103);
}


