.course-background{
  background-color: whitesmoke;
  height: 100vh;
  margin:0;
  flex: 1;
  overflow: auto;
  padding-top: 100px;
  
}


.video-header{
  
  overflow: hidden;
  background-color: white;
  

}

.video-img{
  
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  margin-right: 30px;
  
  
}

.course-footer{
  height:100px;
  background-color: white;
  margin:0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 100px;
  overflow: auto;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  
}

.video-name{
  font-size: 20px;
  margin-top: 20px;
  color:#333;
}



  .enroll{
    background-color: rgb(184, 23, 103);
    border:2px solid rgb(184, 23, 103);
    color:white;
    border-radius:10px;
    width:100px;
  }
  

  .three-dot{
    position: relative;
    margin-right: 10px;
    margin-top: -250px;
    
  }